@import "compass_twitter_bootstrap";
@import "compass/utilities/sprites/sprite-img";

body {
  padding: 10px;
  background: rbba(255,255,255, 0.8);
  background-size: 100px 100px;
  font-family: helvetica;
}

ul, li {
  margin: 5px;
  padding: 0px;
}

.main-header{
  background: black;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 100%;
  box-sizing: border-box;;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}
@import "menu-icons/*.png";
@include all-menu-icons-sprites;
$box-padding: 10px;
$height: menu-icon-sprite-height(arrow);
$width: menu-icon-sprite-width(arrow);

.main-menu {
  margin-top: 20px;
  text-align: center;
  li {
    margin: 5px auto;
    display: block;
    width: 95%;
    text-transform: uppercase;
    a {
      box-sizing: border-box;
      display: block;
      height: 60px;
      line-height: 50px;
      padding-left: 0px;
      text-align: left;
      span{
        width: 40px;
        margin: 0 10px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;

      }
    }
  }
}

.characters {

  h3{
    color: white;
    background: black;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  .wraper{
    background: rgba(255,255,255, 1);
    border-radius: 5px;
    margin-top: 10px;

    table tr td{
      font-size: 16px;
      line-height: 36px;
    }

    .menu-icons-trash{
      height: 36px;
      width: 40px;
      display: block;
    }

    .btn-delete-disabled{
      visibility: hidden;
    }

  }
}