<div>

  <header class="main-header">
      <h1>Warhammer</h1>
      <span>pocket playbook</span>
  </header>
  <ul class="main-menu">
      <li><a class="btn"><span class="menu-icons-plus"></span>Create your character</a></li>
      <li><a class="btn" href="#/characterList"><span class="menu-icons-elf"></span>Character sheers</a></li>
      <li><a class="btn"><span class="menu-icons-dice"></span>Dice</a></li>
      <li><a class="btn"><span class="menu-icons-notebook"></span>Game master tools</a></li>
  </ul>
</div>
